* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}
::before, ::after{
	box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
.hide{
	display: none !important;
}
.dark{
	.main-container{
		.aside{
			background:#222222;
			border-color: #393939;
			.logo{
				a{
					color: #fff;
				}
			}
			.nav{
				li{
					a{
						color: #fff;
						border-color: #393939;
					}
				}
			}
		}
		.main-content{
			.section{
				background:#151515;
			}
			.home{
				.container{
					.intro{
						h1{
							color: #fff;
						}
						p{
							color: #e9e9e9;
						}
					}
				}
			}
			.about{
				.container{
					.row{
						.section-title{
							h2{
								color: #fff;
							}
						}
						.about-content{
							.box{
								.about-text{
									h3{
										color: #fff;
									}
									p{
										color: #e9e9e9 ;
									}
								}
								.infor{
									.small-box{
										.info-item{
											p{
												color: #fff;
												border-color: #393939;
												span{
													color: #e9e9e9;
													a{
														color: #e9e9e9;
													}
												}
											}
										}
									}
								}
								.education{
									.title{
										color: #fff;
									}
									.small-box{
										.timeline-box{
											.timeline{
												background: #222222;
												border-color: #393939;
												.timeline-item{
													.timeline-date{
														color: #e9e9e9;
													}
													.timeline-title{
														color: #fff;
													}
													.timeline-text{
														color: #e9e9e9;
													}
												}
											}
										}
									}
								}
								.experience{
									.title{
										color: #fff;
									}
									.small-box{
										.timeline-box{
											.timeline{
												background: #222222;
												border-color: #393939;
												.timeline-item{
													.timeline-date{
														color: #e9e9e9;
													}
													.timeline-title{
														color: #fff;
													}
													.timeline-text{
														color: #e9e9e9;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.skill{
				.container{
					.row{
						.section-title{
							h2{
								color: #fff;
							}
						}
						.skill-item{
							.skill-item-inner{
								background: #222222;
								border-color: #393939;
								h4{
									color: #fff;
								}
								p{
									color: #e9e9e9;
								}
							}
						}
					}
				}
			}
			.product{
				.container{
					.row{
						.section-title{
							h2{
								color: #fff;
							}
						}
						.product-filter{
							button{
								color: #fff;
							}
						}
						.product-item{
							.product-item-inner{
								border-color: #393939;
							}
						}
					}
				}
			}
			.blog{
				.container{
					.row{
						.section-title{
							h2{
								color: #fff;
							}
						}
						.blog-item{
							.blog-item-inner{
								border-color: #393939;
								.blog-infor{
									background: #222222;
									.blog-title{
										color: #fff;
									}
									.blog-description{
										color: #e9e9e9;
									}
									.blog-tag{
										color: #e9e9e9;
									}
								}
								.blog-img{
									.blog-date{

									}
								}
							}
						}
					}
				}
			}
			.contact{
				.container{
					.row{
						.section-title{
							h2{
								color: #fff;
							}
						}
						.contact-info-item{
							h4{
								color: #fff;
							}
							p{
								color: #e9e9e9;
							}
						}
						.contact-form{
							.box{
								.form-item{
									.form-group{
										.form-control{
											background: #222222;
											border-color: #393939;
											color: #e9e9e9;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.preloader{
	background: #222222;
	position: fixed;
	left:0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 150;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 1s ease;
	.loader{
		height: 40px;
		width: 40px;
		border: 4px solid #e3e3e3;
		border-radius: 50%;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		animation: spin 2s linear infinite;
	}
}
.opacity-0{
	opacity: 0;
}



.main-container{
	.shadow{
		display: inline-block;
	    box-shadow: 0 0 20px rgba(48,46,77,0.35);
	}
	.aside{
		width: 270px;
		background: #fdf9ff;
		position: fixed;
		height: 100%;
	    left: 0;
	    top: 0;
	    z-index: 10;
	    border-right: 1px solid #e8dfec;
	    padding: 30px;
	    transition: all 0.3s ease;
	    overflow-y: auto;
	    .nav-toggler{
	    	width: 45px;
		    height: 40px;
		    border: 1px solid #d4d4e3;
		    cursor: pointer;
		    position: fixed;
		    left: 300px;
		    top: 20px;
		    z-index: 11;
		    border-radius: 5px;
		    background: #fdf9ff;
		    display: none;
		    align-items: center;
		    justify-content: center;
		    transition: all 0.3s ease;
		    span{
		    	height: 2px;
			    width: 18px;
			    display: inline-block;
			    position: relative;
			    &:before{
			    	content: '';
				    height: 2px;
				    width: 18px;
				    position: absolute;
				    top: -6px;
				    left: 0;		    
			    }
			    &:after{
			    	content: '';
				    height: 2px;
				    width: 18px;
				    position: absolute;
				    top: 6px;
				    left: 0;
			    }
		    }
	    }

	    .logo{
	    	padding: 30px 0;
	    	a{
	    		font-size: 40px;
			    color: #302e4d;
			    font-family: 'Rubik', sans-serif;
			    font-weight: 700;
			    text-decoration: none;
			    display: inline-block;
			    position: relative;
			    padding: 0 10px;
    			line-height: 50px;
			    &:before{
			    	content:'';
			    	height: 20px;
			    	width: 20px;
			    	position: absolute;
				    top: 0;
				    left: 0;
			    }
			    &:after{
			    	content:'';
			    	height: 20px;
			    	width: 20px;
			    	position: absolute;
				    bottom: 0;
				    right: 0;
			    }
	    	}
	    }
	    .nav{
	    	margin: 80px 0;
    		list-style: none;
    		padding: 0;
    		li{
    			display: block;
    			a{
    				font-weight: 600;
    				font-size: 16px;
    				color: #302e4d;
    				text-decoration: none;
    				line-height: 45px;
				    display: block;
				    border-bottom: 1px solid #e8dfec;
				    -webkit-transition: all 0.3s ease;
				    transition: all 0.3s ease;
				    text-transform: capitalize;
    				.fa{
    					margin-right: 5px;
    				}
    				&:not(.active):hover{
    					padding-left: 10px;
    				}
    			}
    		}
	    }
	    .coppyright-text{
	    	font-size: 13px;
			color: #7d7d7d;
	    }
	}
	.main-content{
		padding-left: 270px;
		.padd-15{
			padding-right: 15px;
			padding-left: 15px;
		}
		.section{
			background:#f2f2fc;
			min-height: 100vh;
			display: block;
			padding: 0 30px;
			left: 270px;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			overflow-x: hidden;
			overflox-y: auto;
			opacity: 1;
			transition: all 0.3s ease;
			position: fixed;
		}
		.active-st{
			opacity: 1;
			z-index: 2;
			animation: slideSection 1s ease;
		}
		.back-section{
			z-index:1;
		}
		.home{
			min-height: 100vh;
			display: flex;
			.container{
				max-width: 1200px;
				margin: auto;
				width: 100%;
				.intro{
					text-align: center;
					.shadow-dark{
						width: 200px;
					    height: 200px;
					    border-radius: 50%;
					    display: inline-block;
					    border: 3px solid #ffffff;
					    box-shadow: 0 0 20px rgba(48,46,77,0.15);
					}
					h1{
						font-size: 30px;
						color: #302e4d;
					    font-family: 'Rubik', sans-serif;
					    font-weight: 700;
					    margin: 20px 0 5px;
					}
					p{
						font-size: 16px;
						font-weight: 500;
						margin: 0;
						line-height: 22px;
						color: #504e70;
					}
					.social-network{
						margin-top: 25px;
						a{
							height: 35px;
							width: 35px;
							display: inline-block;
						    line-height: 35px;
						    color: #ffffff;
						    margin: 0 4px;
						    border-radius: 50%;
						    text-decoration: none;
						    transition: all 0.3s ease;
						    &:hover{
						    	transform: scale(1.1);
						    }
						}
					}
				}
			}
		}
		.about{
			.container{
				max-width: 1450px;
				margin: auto;
				width: 100%;
				padding-top: 60px;
				padding-bottom: 70px;
				.row{
					display: flex;
				    flex-wrap: wrap;
				    margin-right: -40px;
				    margin-left: 10px;
				    position: relative;
					.section-title{
						flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 60px;
						h2{
							font-size: 40px;
						    color: #302e4d;
						    font-family: 'Rubik', sans-serif;
						    font-weight: 700;
						    margin: 0;
						    position: relative;
						    &:before{
						    	content: '';
						    	width: 50px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left:0;
						    }
						    &:after{
						    	content: '';
						    	width: 25px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left: -8px;
						    	margin: 8px;
						    }
						}
					}
					.about-content{
						flex: 0 0 100%;
						max-width: 100%;
						.box{
							display: flex;
						    flex-wrap: wrap;
						    margin-right: -15px;
						    margin-left: -15px;
						    position: relative;
						    padding-bottom: 40px;
							.about-text{
								flex: 0 0 100%;
								h3{
									font-size: 24px;
									margin-bottom: 15px;
									font-weight: 700;
									color: #302e4d;
								}
								p{
									font-size:	16px;
									line-height: 25px;
									color: #504e70;
									margin: 0;
									padding-right: 22px;
								}
							}
							.infor{
								flex: 0 0 60%;
								max-width: 60%;
								.small-box{
									display: flex;
								    flex-wrap: wrap;
								    margin-right: -15px;
								    margin-left: -15px;
								    position: relative;
								    padding-bottom: 30px;
								    .info-item{
								    	flex: 0 0 45%;
										max-width: 45%;
										p{
											font-weight: 600;
											padding: 10px 0;
											font-size: 16px;
											color: #302e4d;
											border-bottom: 1px solid #e8dfec;
											margin: 0;
											span{
												font-weight: 400;
												color: #504e70;
												margin-left: 4px;
												display: inline-block;
												a{
													color: #504e70;
												}
											}
										}
								    }
								    
								}
							}
							.button{
								flex: 0 0 36%;
								max-width: 40%;
								.small-box{
									.buttons{
								    	margin-top: 30px;
								    	.btn{
										    font-size: 16px;
										    font-family: 'Rubik', sans-serif;
										    font-weight: 500;
										    padding: 12px 35px;
										    color: #ffffff;
										    border-radius: 40px;
										    transition: all 0.3s ease;
										    display: inline-block;
    										white-space: nowrap;
    										margin-right: 15px; 
    										margin-top: 10px;
    										&:hover{
    											transform: scale(1.05);
    										}
								    	}
								    }
								}
							}
							.education{
								flex: 0 0 48%;
								max-width: 50%;
								margin-top: 30px;
								.title{
									font-size: 24px;
									font-weight: 700;
									color: #302e4d;
									margin-bottom: 30px;
								}
								.small-box{
									.timeline-box{
										flex: 0 0 90%;
										max-width: 90%;
										.timeline{
											background: #fdf9ff;
										    padding: 30px 15px;
										    border: 1px solid #d4d4e3;
										    border-radius: 10px;
										    width: 100%;
										    .timeline-item{
										    	position: relative;
										    	padding-left: 37px;
										    	padding-bottom: 50px;
										    	&:before{
										    	    content: '';
												    width: 1px;
												    position: absolute;
												    height: 100%;
												    background: #ec1839;
												    left: 7px;
											    }
											    &:last-child{
											    	padding-bottom: 0px;
											    }
											    .circle-dot{
													position: absolute;
												    top: 0;
												    height: 15px;
												    width: 15px;
												    left: 0;
												    border-radius: 50%;
											    }
										    	.timeline-date{
										    		font-size: 14px;
												    font-weight: 400;
												    margin-bottom: 12px;
												    color: #504e70;
												    .fa{
												    	margin-right: 5px;
												    }
										    	}
										    	.timeline-title{
										    		font-weight: 700;
												    font-size: 18px;
												    margin-bottom: 15px;
												    text-transform: capitalize;
												    color: #302e4d;
										    	}
										    	.timeline-text{
										    		font-size: 16px;
												    line-height: 25px;
												    color: #504e70;
												    margin: 0;
										    	}
										    }
										}
									}
								}
							}
							.experience{
								flex: 0 0 48%;
								max-width: 50%;
								margin-top: 30px;
								.title{
									font-size: 24px;
									font-weight: 700;
									color: #302e4d;
									margin-bottom: 30px;
								}
								.small-box{
									.timeline-box{
										flex: 0 0 90%;
										max-width: 90%;
										.timeline{
											background: #fdf9ff;
										    padding: 30px 15px;
										    border: 1px solid #d4d4e3;
										    border-radius: 10px;
										    width: 100%;
										    .timeline-item{
										    	position: relative;
										    	padding-left: 37px;
										    	padding-bottom: 50px;
										    	&:before{
										    	    content: '';
												    width: 1px;
												    position: absolute;
												    height: 100%;
												    left: 7px;
											    }
											    &:last-child{
											    	padding-bottom: 0px;
											    }
											    .circle-dot{
													position: absolute;
												    top: 0;
												    height: 15px;
												    width: 15px;
												    left: 0;
												    border-radius: 50%;
											    }
										    	.timeline-date{
										    		font-size: 14px;
												    font-weight: 400;
												    margin-bottom: 12px;
												    color: #504e70;
												    .fa{
												    	margin-right: 5px;
												    }
										    	}
										    	.timeline-title{
										    		font-weight: 700;
												    font-size: 18px;
												    margin-bottom: 15px;
												    text-transform: capitalize;
												    color: #302e4d;
										    	}
										    	.timeline-text{
										    		font-size: 16px;
												    line-height: 25px;
												    color: #504e70;
												    margin: 0;
										    	}
										    }
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.skill{
			.container{
				max-width: 1450px;
				margin: auto;
				width: 100%;
				padding-top: 60px;
				padding-bottom: 40px;
				.row{
					display: flex;
				    flex-wrap: wrap;
				    margin-right: -40px;
				    margin-left: 10px;
				    position: relative;
				    .section-title{
				    	flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 60px;
						h2{
							font-size: 40px;
						    color: #302e4d;
						    font-family: 'Rubik', sans-serif;
						    font-weight: 700;
						    margin: 0;
						    position: relative;
						    &:before{
						    	content: '';
						    	width: 50px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left:0;
						    }
						    &:after{
						    	content: '';
						    	width: 25px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left: -8px;
						    	margin: 8px;
						    }
						}
				    }
				    .skill-item{
				    	padding: 15px;
    					flex: 0 0 31.3%;
    					max-width: 31.3%;
    					margin-bottom: 30px;
    					display: flex;
				    	.skill-item-inner{
				    		background: #fdf9ff;
						    border: 1px solid #d4d4e3;
						    border-radius: 10px;
						    padding: 30px 60px;
						    text-align: center;
						    transition: all 0.5s ease;
						    &:hover{
						    	.icon{
						    		.fa{
						    			font-size: 25px;
						    			color: #ffffff;
						    		}
						    	}
						    }
						    &:hover{
						    	box-shadow: 0 0 20px rgba(48,46,77,0.3);
						    }
				    		.icon{
				    		    height: 60px;
							    width: 60px;
							    display: block;
							    margin: 0 auto 30px;
							    text-align: center;
    							border-radius: 50%;
    							transition: all 0.5s ease;
							    .fa{
							    	font-size: 40px;
							    	line-height: 60px;
							    	transition: all 0.5s ease;
							    }
				    		}
				    		h4{
			    				font-size: 18px;
							    margin-bottom: 15px;
							    color: #302e4d;
							    font-weight: 700;
			    			}
			    			p{
			    				font-size: 16px;
							    color: #504e70;
							    line-height: 25px;
			    			}
				    	}
				    }
				}
			}
		}
		.product{
			.container{
				max-width: 1450px;
				margin: auto;
				width: 100%;
				padding-top: 60px;
				padding-bottom: 40px;
				.row{
					display: flex;
				    flex-wrap: wrap;
				    margin-right: -40px;
				    margin-left: 10px;
				    position: relative;
				    .section-title{
				    	flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 60px;
						h2{
							font-size: 40px;
						    color: #302e4d;
						    font-family: 'Rubik', sans-serif;
						    font-weight: 700;
						    margin: 0;
						    position: relative;
						    &:before{
						    	content: '';
						    	width: 50px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left:0;
						    }
						    &:after{
						    	content: '';
						    	width: 25px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left: -8px;
						    	margin: 8px;
						    }
						}
				    }
				    .product-filter{
				    	flex: 0 0 100%;
					    max-width: 100%;
					    text-align: center;
					    margin-bottom: 40px;
					    button{
					    	border: none;
						    background: transparent;
						    font-size: 18px;
						    font-weight: 700;
						    text-transform: capitalize;
						    margin: 0 10px;
						    color: #302e4d;
						    cursor: pointer;
						    border-bottom: 2px solid transparent;
						    white-space: nowrap;
						    padding-bottom: 2px;
						    transition: all 0.3s ease
					    }
				    }
				    .product-item{
				    	flex: 0 0 31.3%;
    					max-width: 31.3%;
    					margin-bottom: 30px;
				    	.product-item-inner{
				    		border: 6px solid #fdf9ff;
   							border-radius: 10px;
   							overflow: hidden;
    						cursor: pointer;
    						position: relative;
				    		.product-img{
				    			img{
				    				width: 100%;
				    				display: block;
				    			}
				    		}
				    		.product-info{
				    			position: absolute;
							    left: 0;
							    top: 0;
							    background: rgba(0,0,0,0.8);
							    height: 100%;
							    width: 100%;
							    z-index: 1;
   								padding: 30px;
   								opacity: 0;
   								h4{
								    font-size: 18px;
								    font-weight: 700;
								    color: #ffffff;
								    text-transform: capitalize;
								    transition: all 0.3s ease;
								    transform: translateX(-20px);
								    opacity: 0;
   								}
   								.icon{
   									height: 40px;
								    width: 40px;
								    background: #ffffff;
								    text-align: center;
								    border-radius: 50%;
								    position: absolute;
								    right: 100px;
    								bottom: 100px;
    								transition: all 0.3s ease;
								    transform: translateX(20px);
								    opacity: 0;
								    .fa{
								    	line-height: 40px; 
								    }
   								}
				    		}
				    		&:hover{
				    			.product-info{
				    				opacity: 1;
				    				h4{
				    					opacity: 1;
				    					transform: translateX(0px);
				    				}
				    				.icon{
				    					opacity: 1;
				    					transform: translateX(0px);	
				    				}
				    			}
				    		}
				    	}
				    }
				    .hide{
						display: none;
					}
					.show{
						display: block;
						animation: showItem 0.5s ease;
					}
				}
			}
		}
		.blog{
			.container{
				max-width: 1450px;
				margin: auto;
				width: 100%;
				padding-top: 60px;
				padding-bottom: 40px;
				.row{
					display: flex;
				    flex-wrap: wrap;
				    margin-right: -40px;
				    margin-left: 10px;
				    position: relative;
					.section-title{
						flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 60px;
						h2{
							font-size: 40px;
						    color: #302e4d;
						    font-family: 'Rubik', sans-serif;
						    font-weight: 700;
						    margin: 0;
						    position: relative;
						    &:before{
						    	content: '';
						    	width: 50px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left:0;
						    }
						    &:after{
						    	content: '';
						    	width: 25px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left: -8px;
						    	margin: 8px;
						    }
						}
					}
					.blog-item{
						flex: 0 0 31.3%;
    					max-width: 31.3%;
						margin-bottom: 30px;
						.blog-item-inner{
						    border-radius: 10px;
						    overflow: hidden;
						    border: 1px solid #d4d4e3;
							.blog-img{
							    position: relative;
							    overflow: hidden;
								img{
									width:100%;
									display: block;
									transition: all 0.5s ease;
								}
								.blog-date{
								    position: absolute;
								    padding: 5px 10px;
								    border-radius: 5px;
								    color: #ffffff;
								    font-weight: 600;
								    font-size: 14px;
								    left: 15px;
								    bottom: 15px;
								}
							}
							.blog-infor{
								padding: 30px 15px;
    							background: #fdf9ff;
    							.blog-title{
    								font-size: 18px;
								    font-weight: 700;
								    color: #302e4d;
								    text-transform: capitalize;
								    margin-bottom: 10px;
    							}
    							.blog-description{
    							    font-size: 16px;
								    line-height: 25px;
								    color: #504e70;
								    font-weight: 400;
								    margin-bottom: 15px;
    							}
    							.blog-tag{
    							    font-size: 16px;
								    line-height: 25px;
								    color: #504e70;
								    font-weight: 400;
								    text-transform: capitalize;
								    a{
									    text-decoration: none;
	   									font-weight: 600;
								    }
    							}
							}
							&:hover{
								.blog-img{
									img{
										transform: scale(1.1);
									}
								}
							}
						}
					}
				}
			}
		}
		.contact{
			.container{
				max-width: 1450px;
				margin: auto;
				width: 100%;
				padding-top: 60px;
				padding-bottom: 40px;
				.row{
					display: flex;
				    flex-wrap: wrap;
				    margin-right: -40px;
				    margin-left: 10px;
				    position: relative;
				    .section-title{
						flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 60px;
						h2{
							font-size: 40px;
						    color: #302e4d;
						    font-family: 'Rubik', sans-serif;
						    font-weight: 700;
						    margin: 0;
						    position: relative;
						    &:before{
						    	content: '';
						    	width: 50px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left:0;
						    }
						    &:after{
						    	content: '';
						    	width: 25px;
						    	height: 4px;
						    	position: absolute;
						    	top: 100%;
						    	left: -8px;
						    	margin: 8px;
						    }
						}
					}
					.contact-info-item{
					    flex: 0 0 31%;
    					max-width: 31%;
    					text-align: center;
    					margin-bottom: 40px;
						.icon{
							display: inline-block;
							.fa{
								font-size: 40px;
							}
						}
						h4{
						    font-size: 18px;
						    font-weight: 700;
						    color: #302e4d;
						    text-transform: capitalize;
						    margin: 15px 0 5px;
						}
						a{
							font-size: 16px;
						    line-height: 25px;
						    color: #504e70;
						    margin: 0;
						    font-weight: 400;
						}
						p{
							font-size: 16px;
						    line-height: 25px;
						    color: #504e70;
						    margin: 0;
						    font-weight: 400;
						}
					}
					.contact-form{
					    flex: 0 0 100%;
    					max-width: 100%;
						.box{
							display: flex;
						    flex-wrap: wrap;
						    margin-right: -15px;
						    margin-left: -15px;
						    position: relative;
						    padding-bottom: 40px;
							.form-item{
								.form-group{
									.form-control{
										width: 96%;
										height: 40px;
									    border-radius: 25px;
									    border: 1px solid #d4d4e3;
									    padding: 10px 0 10px 15px;
									    font-size: 16px;
									    font-family: 'Montserrat', sans-serif;
									    color: #504e70;
									    transition: all 0.3s ease;
									    &:focus{
									    	box-shadow: 0 0 20px rgba(48,46,77,0.35);
									    }
									}
									textarea{
										height: 120px !important;
									}
								}
							}
							.col-6{
								flex: 0 0 48%;
    							max-width: 48%;
							}
							.col-12{
								flex: 0 0 100%;
    							max-width: 100%;
								.btn{
								    font-size: 16px;
								    font-family: 'Rubik', sans-serif;
								    font-weight: 500;
								    padding: 12px 50px;
								    color: #ffffff;
								    border-radius: 40px;
								    transition: all 0.3s ease;
								    display: inline-block;
									white-space: nowrap;
									margin-right: 15px; 
									margin-top: 10px;
									border: none;
									cursor: pointer;
									height: 50px;
									&:hover{
										transform: scale(1.05);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.lightbox{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;
    padding: 30px;
    .lightbox-content{
    	position: relative;
    	.lightbox-close{
		    position: absolute;
		    width: 40px;
		    height: 40px;
		    top: -40px;
		    right: 0px;
		    font-size: 30px;
		    text-align: right;
		    color: #ffffff;
		    line-height: 40px;
		    cursor: pointer;
    	}
    	img{
    		height: auto;
			width: auto;
			max-height: 430px;
			max-width: 100%;
			cursor: pointer;
    	}
    	.lightbox-caption{
    		position: absolute;
		    bottom: -20px;
		    left: 0;
		    width: 100%;
		    display: flex;
		    justify-content: space-between;
		    font-size: 16px;
		    color: #ffffff;
		    font-weight: 400;
    	}
    }
    .lightbox-controls{
    	.prev-item{
    		position: absolute;
    		background: #ffffff;
    		height: 40px;
		    width: 40px;
		    text-align: center;
		    border-radius: 50%;
		    cursor: pointer;
			left: 30px;
			z-index: 110;
    		transition: all 0.3s ease;
		    .fa{
		    	font-size: 32px;
		    	line-height: 40px;
		    }
		    &:active{
		    	transform: scale(1.2);
		    }
    	}
    	.next-item{
    		position: absolute;
    		background: #ffffff;
    		height: 40px;
		    width: 40px;
		    text-align: center;
		    border-radius: 50%;
		    cursor: pointer;
    		right: 80px;
    		z-index: 110;
   			transition: all 0.3s ease;
		    .fa{
		    	font-size: 32px;
		    	line-height: 40px;
		    }
		    &:active{
		    	transform: scale(1.2);
		    }
    	}
    }
}
.open{
	display: flex;	
	.lightbox-content{
		animation: lightboxImg 0.5s ease;
	}
}
@keyframes lightboxImg{
	0%{
    	transform: scale(0.8);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes showItem{
	0%{
		transform: scale(0.8);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideSection{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(0%);
	}
}






@media all and (max-width: 1024px){
	.main-container{
		.aside{
			left: -270px;
			padding: 0;
			display: block;
		    width: 23%;
		    padding-left: 15px;
		    padding-right: 15px;
			.nav-toggler{
				display: flex;
				left: 30px;
			}
		}
		.open{
			left: 0px;
			.nav-toggler{
				left: 300px;
				span{
					background: transparent !important;
					&:before{
						transform: rotate(45deg);
						top: 0px;
					}
					&:after{
						transform: rotate(-45deg);
						top: 0px;
					}
				}
			}
		}
		.main-content{
			padding-left: 0;
			.section{
				left: 0;
			}
			.about{
				.container{
					.row{
					    display: block;
					    margin: 0;
						.about-content{
							.box{
								.infor{
									flex: 0 0 100%;
								    max-width: 100%;
									.small-box{
										.info-item{
											p{
												span{
													display: inline-block;
													margin-left: 0; 
												}
											}
										}
									}
								}
								.button{
									.small-box{
										.buttons{
											display: flex;
										}
									}
								}
								.education{
									flex: 0 0 46%;
    								max-width: 46%;
    								.small-box{
    									margin-left: -15px;
    								}
								}
								.experience{
									flex: 0 0 46%;
    								max-width: 46%;
    								.small-box{
    									margin-left: -15px;
    								}
    								.timeline-box{
    									.timeline{
    										min-height: 300px;
    									}
    								}
								}
							}
						}
					}
				}
			}
			.skill{
				.container{
					.row{
						.skill-item{
							flex: 0 0 29%;
    						max-width: 29%;
						}
					}
				}
			}
			.product{
				.container{
					.row{
						.product-item{
							flex: 0 0 29%;
    						max-width: 29%;
						}
					}
				}
			}
			.blog{
				.container{
					.row{
						.blog-item{
							flex: 0 0 29%;
    						max-width: 29%;
						}
					}
				}
			}
			.contact{
				.container{
					.row{
						.contact-info-item{
							flex: 0 0 29%;
    						max-width: 29%;
						}
						.contact-form{
							.box{
								.col-6{
									flex: 0 0 43.7%;
    								max-width: 43.7%;
								}
								.col-12{
									flex: 0 0 92.3%;
    								max-width: 92.3%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 480px){
	.main-container{
		.aside{
			width: 50%;
			.nav-toggler{
				display: flex;
				left: 30px;
			}
		}
		.open{
			left: 0px;
			.nav-toggler{
				left: 300px;
				span{
					background: transparent !important;
					&:before{
						transform: rotate(45deg);
						top: 0px;
					}
					&:after{
						transform: rotate(-45deg);
						top: 0px;
					}
				}
			}
		}
		.main-content{
			.about{
				.container{
					.row{
						.about-content{
							.box{
								.about-text{
									flex: 0 0 90%;
								}
								.infor{
									.small-box{
										.info-item{
										    flex: 0 0 90%;
    										max-width: 90%;
										}
									}
								}
								.education{
								    flex: 0 0 90%;
    								max-width: 90%;
								}
								.experience{
								    flex: 0 0 90%;
    								max-width: 90%;
								}
							}
						}
					}
				}
			}
			.skill{
				.container{
					.row{
						.skill-item{
							flex: 0 0 86%;
    						max-width: 86%;
						}
					}
				}
			}
			.product{
				.container{
					.row{
						.product-filter{
							flex: 0 0 90%;
    						max-width: 90%;
						}
						.product-item{
						    flex: 0 0 86%;
    						max-width: 86%;
						}
					}
				}
			}
			.blog{
				.container{
					.row{
						.blog-item{
							flex: 0 0 86%;
    						max-width: 86%;
						}
					}
				}
			}
			.contact{
				.container{
					.row{
						.contact-info-item{
							flex: 0 0 86%;
    						max-width: 86%;		
						}	
						.contact-form{
							.box{
								.col-6{
									flex: 0 0 80%;
    								max-width: 80%;
    								&:first-child{
    									padding-bottom: 40px;
    								}
								}
								.col-12{
									flex: 0 0 80%;
    								max-width: 80%;
								}
							}
						}
					}
				}
			}
		}
	}
}







