.main-container .aside .nav-toggler span {
  background: #2196f3; }
  .main-container .aside .nav-toggler span:before {
    background: #2196f3; }
  .main-container .aside .nav-toggler span:after {
    background: #2196f3; }
.main-container .aside .logo a:before {
  border-top: 4px solid #2196f3;
  border-left: 4px solid #2196f3; }
.main-container .aside .logo a:after {
  border-bottom: 4px solid #2196f3;
  border-right: 4px solid #2196f3; }
.main-container .aside .nav li a:not(.active):hover {
  color: #2196f3; }
.main-container .aside .nav li .active {
  color: #2196f3; }
.main-container .main-content .home .container .intro .social-network a {
  background: #2196f3; }
.main-container .main-content .about .container .row .section-title h2:before {
  background: #2196f3; }
.main-container .main-content .about .container .row .section-title h2:after {
  background: #2196f3; }
.main-container .main-content .about .container .row .about-content .box .about-text h3 span {
  color: #2196f3; }
.main-container .main-content .about .container .row .about-content .box .button .small-box .buttons .btn {
  background: #2196f3; }
.main-container .main-content .about .container .row .about-content .box .education .small-box .timeline-box .timeline .timeline-item .circle-dot {
  background: #2196f3; }
.main-container .main-content .about .container .row .about-content .box .experience .small-box .timeline .timeline-item:before {
  background: #2196f3; }
.main-container .main-content .about .container .row .about-content .box .experience .small-box .timeline .timeline-item .circle-dot {
  background: #2196f3; }
.main-container .main-content .skill .container .row .section-title h2:before {
  background: #2196f3; }
.main-container .main-content .skill .container .row .section-title h2:after {
  background: #2196f3; }
.main-container .main-content .skill .container .row .skill-item .skill-item-inner:hover .icon {
  background: #2196f3; }
.main-container .main-content .skill .container .row .skill-item .skill-item-inner .icon .fa {
  color: #2196f3; }
.main-container .main-content .product .container .row .section-title h2:before {
  background: #2196f3; }
.main-container .main-content .product .container .row .section-title h2:after {
  background: #2196f3; }
.main-container .main-content .product .container .row .product-filter .active {
  color: #2196f3;
  border-color: #2196f3; }
.main-container .main-content .product .container .row .product-item .product-item-inner .product-info .icon .fa {
  color: #2196f3; }
.main-container .main-content .blog .container .row .section-title h2:before {
  background: #2196f3; }
.main-container .main-content .blog .container .row .section-title h2:after {
  background: #2196f3; }
.main-container .main-content .blog .container .row .blog-item .blog-item-inner .blog-img .blog-date {
  background: #2196f3; }
.main-container .main-content .blog .container .row .blog-item .blog-item-inner .blog-infor .blog-tag a {
  color: #2196f3; }
.main-container .main-content .contact .container .row .section-title h2:before {
  background: #2196f3; }
.main-container .main-content .contact .container .row .section-title h2:after {
  background: #2196f3; }
.main-container .main-content .contact .container .row .contact-info-item .icon .fa {
  color: #2196f3; }
.main-container .main-content .contact .container .row .contact-form .box .col-12 .btn {
  background: #2196f3; }

.lightbox .lightbox-controls .prev-item .fa {
  color: #2196f3; }
.lightbox .lightbox-controls .next-item .fa {
  color: #2196f3; }

.dark .main-container .aside .nav li a:not(.active):hover {
  color: #2196f3; }
.dark .main-container .aside .nav li .active {
  color: #2196f3; }
.dark .main-container .main-content .product .container .row .product-filter .active {
  color: #2196f3;
  border-color: #2196f3; }

/*# sourceMappingURL=blue.css.map */
